@mixin button_style($prop, $color) {
  border-style: none;
  cursor: pointer;
  border-radius: 5px;
  height: 30px;
  width: 100px;

  &:hover {
    #{$prop}: $color;
  }
}

.utitles_container {
  background-color: lightcoral;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .utitles_form {
    // background-color: red;
    border: 2px solid red;
    box-shadow: 5px 5px blueviolet;
    height: 30rem;
    width: 30rem;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // padding-top: 48px;

    div {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
    }

    ::-webkit-inner-spin-button {
      display: none;
    }

    .btn_submit {
      @include button_style(background-color, lightcoral);
    }

    .btn_clear {
      @include button_style(background-color, blue);
    }
  }
}
