@mixin diplay_flex_row_justify_center_align_center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.navbar_container {
  background-color: lightblue;
  min-height: 50rem;
  display: flex;
  flex-direction: row;
  background-color: red;
  width: 10rem;
  padding-top: 10rem;

  .navbar_side_panel {
    display: flex;
    // flex-direction: row;
    flex-direction: column;
    background-color: red;
    width: 10rem;
    height: 20rem;
  }
  
  .navbar_item {
    // background-color: gainsboro;
    // height: 50px;
    // height: 100vh;
    // width: 10%;
    // display: flex;
    // align-content: space-between;
    // justify-content: space-between;

    &:hover {
      background-color: lightblue;
    }

    a {
      text-decoration: none;
      color: black;

      // p {
        // @include diplay_flex_row_justify_center_align_center;
        // height: 100%;
        // width: 100%;
      // }
    }
  }
}