@mixin diplay_flex_row_justify_center_align_center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.navbar_container {
  background-color: rgb(228, 198, 255);
  // min-height: 50rem;
  display: flex;
  flex-direction: row;
  // background-color: red;
  width: 10rem;
  padding-top: 10rem;

  .navbar_side_panel {
    display: flex;
    // flex-direction: row;
    flex-direction: column;
    // background-color: red;
    // background-color: lightblue;
    // color: lightblue;
    width: 10rem;
    height: 20rem;
    justify-content: space-around;
  }

  // button {
  //   background-color: lightblue;
  // }

  .navbar_item {
    // background-color: gainsboro;
    // height: 50px;
    // height: 100vh;
    // width: 100%;
    display: flex;
    align-self: center;
    // justify-content: space-between;

    background-color: lightblue;

    button {
      outline: none;
      border-style: none;
      width: 9rem;
      height: 30px;
      cursor: pointer;
      border-top-right-radius: 25px;
      border-top-left-radius: 25px;
      border-bottom-right-radius: 25px;
      border-bottom-left-radius: 25px;
      color: white;
      background-color: rgb(228, 198, 255);

      &:hover {
        // background-color: red;
        background-color: white;
        color: lightblue;
      }
    }

    a {
      text-decoration: none;
      color: black;

      // p {
      // @include diplay_flex_row_justify_center_align_center;
      // height: 100%;
      // width: 100%;
      // }
    }
  }
}
